/* HERO styles */
.hero {
  background-image: url(../images/Concertium-BG.jpg);
  background-size: cover;
	background-position: center;
	background-position: 100%;
}

.hero .container {
  flex-direction: column;
  justify-content: center;
}

/* END of HERO STYLES */